body{
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    color: #40514E
    ;
}
.top-container{
    background-color:  #F7ECDE;
    padding-top: 50px;
    position: relative;
    
}
.middle-container{
    margin: 100px 0;
}
.bottom-container{
    background-color: #66BFBF;
    padding: 20px 10px 10px 20px;
    position: relative;
}
.copyright{
    color:#EAF6F6;
    margin-top: 1.875rem;
    font-family: 'Merriweather', serif;
    font-size: 0.875rem;
}

h1{ 
    color: #66BFBF ;
    margin: 7% auto 0 auto;  
    font-family: 'Sacramento', cursive;
    font-size: 5vw;
    
}
.subheading{
    font-family: 'Montserrat', sans-serif;
    font-size: 1vw;
    color: #66BFBF;
    font-weight: normal;
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5vw;
    color: #66BFBF;
    font-weight: 600;
}
    
h3{
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
    font-weight: 600;
    font-size: 1.5vw;
}
p{
    font-size: 1.1vw;
}
.pro{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1.5vw;
}
.bottom-cloud{
    display: block;
    position: absolute;
    left: 25%;
    bottom: 47%;
    height: auto;
    width: 10%;
}
.top-cloud{
    display: block;
    position: absolute;
    right: 25%;
    top: 10%;
    height: auto;
    width: 10%;
}
a{
    color: #11999E;
}
.skill-row{
    font-weight: bold;
    margin: 100px auto 100px auto;
    text-align: left;
    width: 50%;
    line-height: 2;
}

.code{
    float: left;
    margin-right: 30px;
    margin-top: 10px;
    height: auto;
}
.html{
    float: right;
    margin-left: 30px;
    margin-top: 10px;
}
.css{
    float: left;
    margin-right: 30px;
    margin-top: 10px;
}
.profile{
    line-height: 2;
    margin: 100px auto 50px auto;
    width: 50%;
    font-weight: bold;
}
.contact-me{
    line-height: 2;
    margin: 100px auto 50px auto;
    width: 50%;
    font-weight: bold;
    
}
hr{
    border-style: none;
    border-top-style: dotted;
    border-color: #E2DCC8;
    border-width: 7px;
    width: 5%;
}
.btn {
    background: #54BAB9;
    background:  #11cdd4;
    background-image: -webkit-linear-gradient(top,  #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top,  #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top,  #11cdd4, #11999e);
    background-image: -o-linear-gradient(top,  #11cdd4, #11999e);
    background-image: linear-gradient(to bottom,  #11cdd4, #11999e);
    -webkit-border-radius: 9;
    -moz-border-radius: 9;
    border-radius: 9px;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
  }
  .linkedin{
    margin: 0 5rem 0 5rem;
  }
  .instagram{
    margin: 0 5rem 0 5rem;
  }
  .github{
    margin: 0 5rem 0 5rem;
  }
  .computer-image{
    border-radius: 100%;
    width: 200px;
    height: 200px;
  }
  .skills{
    margin-top: 100px;
  }
  .mountain{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  @media only screen and (max-width: 654px){
    .bottom-container{
        background-color: #66BFBF;
        padding: 5px 5px;
        position: relative;
    }
    .computer-image{
        width: 100px;
    }
    .profile-pic{
        width: 120px;
    }
    .code{
        width: 70px;
    }
    .html{
        width: 70px;
    }
    .css{
        width: 70px;
    }
    .btn{
        font-size: 10px;
        padding: 5px 10px 5px 10px;
    }
    .linkedin{
        margin: 0 1rem 0 1rem;
    }
    .instagram{
        margin: 0 1rem 0 1rem;
    }
    .github{
        margin: 0 1rem 0 1rem;
    }
  }
  @media only screen and (max-width: 992px){
    .bottom-container{
        background-color: #66BFBF;
        padding: 5px 5px;
        position: relative;
    }
    .computer-image{
        width: 120px;
    }
    .profile-pic{
        width: 150px;
    }
    .code{
        width: 100px;
    }
    .html{
        width: 100px;
    }
    .css{
        width: 100px;
    }
    .btn{
        font-size: 15px;
        padding: 5px 10px 5px 10px;
    }
    .linkedin{
        margin: 0 1.5rem 0 1.5rem;
    }
    .instagram{
        margin: 0 1.5rem 0 1.5rem;
    }
    .github{
        margin: 0 1.5rem 0 1.5rem;
    }
  }

  .profile-pic{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
  }
  .computer-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
  }